<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Событие группы</title>
</head>
<body>
<h2 th:text="${operation}"></h2>
<h3>Группа:</h3>
<p th:text="${groupName}"></p>
<h3>Событие:</h3>
<p th:text="${name}"></p>
<h3>Дата:</h3>
<p th:text="${date}"></p>
<h3>Информация о событии:</h3>
<p th:text="${about}"></p>
</body>
</html>